* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'raleway', sans-serif, Arial, Helvetica;
    background: linear-gradient(to bottom, #FFFFFF 20%,  #A9D4F8 80%);
}

ul {
    list-style: none;
    padding: 0;
}


.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr auto;

    grid-template-areas:
        "header header header"
        "contenido contenido contenido"
        "footer footer footer";

    background-color: #fff;

    background: linear-gradient(to bottom, #FFFFFF 0%,  #A9D4F8 95%);

}




/* <!-- ////////////////  header  ///////////////// header   ///////////////////////////--> */
header {
    grid-area: header;
    background-color: #000 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}


.logoheader {
    width: 180px;
    height: auto;
}

.nav-lista {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-lista li a {
    text-decoration: none;
    color: #ececec ;

    text-decoration: none;
    /* color: black; */
    font-weight: bold;

    display: inline-block;
    text-align: center;
    position: relative;
    padding-bottom: 5px;

    /* Efecto cuando no paso el mouse sobre el item */
    &:before {
        content:"";
        display: block;
        width: 0;
        height: 3px;
        background: #fff;
        position: absolute;
        bottom: 0;
        transition: all 0.5s;
    }
    /* Efecto cuando paso el mouse sobre el item */
    &:hover::before {
        width: 100%;
}
}

.nav-lista li a::before {
    left: 50%;
    transform: translateX(-50%);
}


.abrir-menu,
.cerrar-menu {
    display: none;
}


@media screen and (max-width: 550px) {

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.5rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #FFFFFF;
    }

    .cerrar-menu {
        color: #FFFFFF;
    }


    .navegador {

        opacity: 0;
        visibility: hidden;

        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    }

    .navegador.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-lista {
        flex-direction: column;
        align-items: end;
    }

    .nav-lista li a {
        text-decoration: none;
        color: #ececec;
    }
}






/* <!-- ////////////////  main  ///////////////// main   ///////////////////////////--> */
/* <!-- ////////////////  main  ///////////////// main   ///////////////////////////--> */
.container main {
    grid-area: contenido;

    /* border: 3px dashed black; */

    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;

    display: grid;
    grid-template-areas:
        "titulo"
        "contenedorppal";

    gap: 30px;
}



.titulomain {
    grid-area: titulo;

    background: linear-gradient(to right,  #A9D4F8, #FFFFFF, #A9D4F8);

    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 1.8em;
    text-decoration: underline;
    text-decoration-color: #fcbf45;
    text-decoration-thickness: 3px;
    border-radius: 25px;
}


ul {
    list-style: none;
    padding: 0;
}


.contenedorenvol {
    /* border: 3px dashed navy; */

    grid-area: contenedorppal;

    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "secundario"
        "principal";

    /* box-shadow: 0 0 30px 0 rgb(0, 255, 76); */

    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 150px;
}

.contenedorenvol > * {
    padding: 2em;
}


.contenedorForm {
    background-image: linear-gradient(rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1)), url(../img/monumento.jpg);
    background-repeat: no-repeat;

    box-shadow: 0 0 30px 0 rgb(255,193,69);


    background-size: 100% auto;
    margin-top: 90px;
    /* height: 1400px; */
    grid-area: principal;

    border-radius: 25px;
}


.encuestaform {
    background: rgba(0, 0, 0, .75);

    margin:  5% 5%;
    /* border: 2px solid rebeccapurple; */
    margin-bottom: 50px;
    padding: 3em;
}


.encuestaform form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: 1fr 1fr; */

}

.dosColumnaA  {
    grid-column: 1/3;
}

.dosColumnaB  {
    grid-column: 3/5;
}

.encuestaform h3 {
    grid-column: 1/3 ;
    text-align: left;
    font-size: 1.3em;
    font-weight: bold;
    color: white;
}



.encuestaform form label,
.encuestaform form select {
    display: block;
    font-size: 1.05em;
    margin-bottom: .4em;
    color: white;
}

.encuestaform form label {
    font-weight: bold;
}

.encuestaform form input {
    font-size: 1em;
}

.encuestaform form p {
    margin: 0;
    padding: 1.2em;
}

.encuestaform form .bloque {
    grid-column: 1 / 3;

}

.bloque textarea {
    font-size: 1.1em;
}

.encuestaform form button,
.encuestaform form input,
.encuestaform form textarea,
.encuestaform form select {

    width: 100%;
    padding: .3em;
    outline: 0;
    color: black;
}

.encuestaform form input,
.encuestaform form textarea,
.encuestaform form select {
    border-radius: 5px;
    border: 1.8px solid black;
}



.btnenviar {
    grid-column: 2/4;
    width: 100%;
}

.boton-envio {
    cursor: pointer;
}

.encuestaform form button {
    background: #b70e21;
    color: #000;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
    border-radius: 8px;
}

.encuestaform form button:hover,
.encuestaform form button:focus {
    background: #d63031;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}



.introEncuesta {

    grid-area: secundario;

    color: black;
    background: #f4f4f4;

     box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.4); /* Sombra con desplazamiento, desenfoque, extensión y color */

    justify-content: center;
    align-content: center;
    border-radius: 25px;

}


.introEncuesta h3 {
    font-size: 1.5em;
    text-align: center;
    margin: 0 0 1rem 0;
}


.introEncuesta p {
    font-size: 1.1em;
    text-align: left;
}

.textoEncuestaP {
    font-style: italic;
    font-style: oblique;
}

.textoPregunta {
    font-weight: bold;
}





/* <!-- /////////////////////////  footer  ////////////////////// footer   ///////////////////////////--> */
/* <!-- ////////////////  footer  ///////////////// footer   ///////////////////////////--> */
.container footer {
    background: #000;
    grid-area: footer;

    display: grid;
    grid-template-columns: 2fr 1fr 1fr;

    box-sizing: border-box;
    grid-template-areas:
        "logo navegacion contacto"
        "footer footer footer";
}


.iconosFooter {
    font-size: 2rem;
}

.logofooter,
.menufooter,
.contactofooter {
    margin-top: 10px;
    margin-bottom: 5px;
}


.subtitulosFo {
    color: #fff;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
    box-sizing: border-box;
    margin: 0;
}

.menuNavF {
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff;

}

.logofooter {
    grid-area: logo;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.imglogofooter {
    width: 250px;
    height: auto;
}



.menufooter {
    grid-area: navegacion;

    box-sizing: border-box;

    display: flex;
    flex-flow: column wrap;

    align-items: center;

    text-align: left;

}

.menufooter ul {
    list-style: none;
    margin: 0;
}

.menufooter ul li a {
    text-decoration: none;
    color: #ececec;
}




.contactofooter {
    grid-area: contacto;

    box-sizing: border-box;

}

.contactofooter ul {
    list-style: none;

    display: flex;

    justify-content: center; /* Centra horizontalmente los elementos */
    align-items: center;
}


.contactofooter ul li {
    margin-right: auto;
    margin-left: auto;
}

.contactofooter ul li a {
    text-decoration: none;
    color: #ececec ;
}


.copyfooter {
    grid-area: footer;
    box-sizing: border-box;
    justify-self: center;
    display: flex;
}

.copyfooter h5 {
    color: #ececec;
    margin: 5px;
}


@media screen and (max-width: 550px) {
    .container footer {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 75px auto;

        grid-template-areas:
            "logo navegacion"
            "contacto contacto"
            "footer footer";
    }

    .iconosFooter {
        font-size: 1.1rem;
    }

    .copyfooter {
        margin-top: 0;
    }

    .listaredesfooter {
        margin-top: 5px;
    }

    .copyfooter h5 {
        margin: 5px;
        font-size: .6rem;
    }

    .imglogofooter {
        width: 180px;
        height: auto;
    }

    .subtitulosFo {
        font-size: .9rem;
    }

}