* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'raleway', sans-serif, Arial, Helvetica;
}

ul {
    list-style: none;
    padding: 0;
}



.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr auto;

    grid-template-areas:
        "header header header"
        "contenido contenido contenido"
        "footer footer footer";
}



/* header ////////////////  header  ///////////////// header   ///////////////////////////--> */
/* header ////////////////  header  ///////////////// header   ///////////////////////////--> */

header {
    grid-area: header;
    background-color: #000 ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}


.logoheader {
    width: 180px;
    height: auto;
}

.nav-lista {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-lista li a {
    text-decoration: none;
    color: #ececec ;

    text-decoration: none;
    /* color: black; */
    font-weight: bold;

    display: inline-block;
    text-align: center;
    position: relative;
    padding-bottom: 5px;

    /* Efecto cuando no paso el mouse sobre el item */
    &:before {
        content:"";
        display: block;
        width: 0;
        height: 3px;
        background: #fff;
        position: absolute;
        bottom: 0;
        transition: all 0.5s;
    }
    /* Efecto cuando paso el mouse sobre el item */
    &:hover::before {
        width: 100%;
}
}

.nav-lista li a::before {
    left: 50%;
    transform: translateX(-50%);
}


.abrir-menu,
.cerrar-menu {
    display: none;
}


@media screen and (max-width: 550px) {

    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.5rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: #FFFFFF;
    }

    .cerrar-menu {
        color: #FFFFFF;
    }


    .navegador {

        opacity: 0;
        visibility: hidden;

        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    }

    .navegador.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-lista {
        flex-direction: column;
        align-items: end;
    }

    .nav-lista li a {
        text-decoration: none;
        color: #ececec;
    }
}




/* <!-- /////////////////////////  main  //////////////////////// main   ////////////////////////////////--> */
/* <!-- /////////////////////////  main  //////////////////////// main   ////////////////////////////////--> */
.container main {
    grid-area: contenido;

    display: grid;
    grid-template-rows: auto 1fr;

    grid-template-areas:
        "principal"
        "Candidatos";
}



#menu {
    grid-area: principal;
    min-height: 100vh;
    box-sizing: border-box;
}



#candidatosYpropuestas {
    grid-area: Candidatos;
    box-sizing: border-box;
}


/* ****************************************************************** */
/* *            ///////////// MENU  ///////////// MENU              *  */
/* ****************************************************************** */

#menu {

    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(2, 200px);
    justify-content: center;
    align-content: center;
    grid-template-areas:
        "encuesta encuesta gráficos gráficos"
        "encuesta encuesta posts contact";

    background: linear-gradient(to top, #FFFFFF 20%,  #A9D4F8 80%);

}

#menu .tile {
    height: 100%;
    overflow: hidden;
    cursor: pointer;
}

#menu .tile a {
    text-decoration: none;
}

#menu .tile .frontal {
    color: white;
    background-color: black;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;

    background-size: cover;
    background-position: center center;

    transition: all 0.3s ease;
}

#menu .tile .trasera {
    background: #222;
    color: whitesmoke;
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100%;
    font-weight: bold;
    font-size: 1.8em;
}


#menu .tile:hover .frontal {
    margin-top: -100%;
}

#menu .projects-tile:hover .frontal {
    margin-top: -50%;
}

#menu .about-tile .frontal {
    background-image: url(../img/graficos1.png);

}

#menu .projects-tile .frontal {
    background-image: url(../img/encuestas3.webp);
}

#menu .posts-tile .frontal {
    background-image: url(../img/noticias.jpg);
}

#menu .contact-tile .frontal {
    background-image: url(../img/contacto2.jpg);
}


.about-tile {
    grid-area: encuesta;
}

.projects-tile {
    grid-area: gráficos;
}


/* ****************************************************************** */
/* *        ///////////// Encuesta  ///////////// Encuesta            *  */
/* ****************************************************************** */

/*  NUEVO/////////////////////////////NUEVO/////////////////////////////NUEVO/////////////////////////////NUEVO///////////////////////////// */
#candidatosYpropuestas {

    display: grid;
    grid-template-columns: 1fr;

    grid-template-rows: auto repeat(auto-fill, minmax(382px, auto));

    grid-template-areas:
       "titulo titulo titulo"
       "candidatos candidato candidato";

    gap: 125px;

    background: linear-gradient(to bottom, #FFFFFF 70%,  #A9D4F8 90%);

}

#candidatosYpropuestas div {

    border-radius: 25px;
    text-align: center;

    display: grid;

    align-items: center;
}

.ult-candidato {
    margin-bottom: 80px;
}

.Titulo {
    background: linear-gradient(to right,  #A9D4F8, #FFFFFF, #A9D4F8);
    grid-column: 2/3;
    text-align: center;
    margin-top: 30px;
    font-size: 1.8em;
    text-decoration: underline;
    text-decoration-color: #fcbf45;
    text-decoration-thickness: 3px;
}

.candidatos {
   color: black;
   background: #f4f4f4;

    box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.4);

    display: grid;
    grid-template-columns: auto 2fr;

    grid-template-areas:
        "imagenCandidato infoCandidato";

    gap: 25px;

    grid-column: 2/3;

    justify-content: center;
    align-content: center;

    padding: 0;
}



.info_candidato h3 {
    text-align: left;
    padding-left: 1.5em;
    font-size: 1.5em;
}

.info_candidato p {
    text-align: left;
    padding: 12.5px 2.5em;
    font-size: 1.2em;
    margin: 0;
    margin-bottom: 24px;
}

.info_candidato h3 {
    text-align: left;
    padding-left: 1.5em;
    font-size: 1.5em;
}

.info_candidato h4 {
    text-align: left;
    padding-left: 2em;
    font-size: 1.2em;
    margin-bottom: 0.2em;
}

.leermas_btn {
    background: blue;
    border: none;
    border-radius: 40px;
    color: white;
    padding: 15px 32px;
    font-size: 1em;
    box-shadow: 0 0 10px 0 blue;
    cursor: pointer;
    margin: 15px ;
    justify-self: center;
}

.leermas_btn:hover {
    box-shadow: none;
    background-color: black;
    color: #fff;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1000ms;
}

.oculto {
    display: none;
}

.oculto img {
    max-width: 280px;
    height: auto;
    padding-bottom: 25px;
    text-align: center;
}

.mostrar {
    display: block;
}




/* NUEVO2.0!  */
/* //////////////////////  EFECTO IMAGEN  ///////////////////////////////// */

@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,300,800);
figure.snip0015 {
  font-family: 'Raleway', Arial, sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
  margin-left: 65px;
  min-width: 220px;
  max-width: 410px;
  max-height: 270px;
  width: 100%;
  background: #000000;
  text-align: center;
  cursor: help;
}
figure.snip0015 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip0015 img {
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.snip0015 figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 3em 3em;
  width: 100%;
  height: 100%;
}
figure.snip0015 figcaption::before {
  position: absolute;
  top: 50%;
  right: 30px;
  bottom: 50%;
  left: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  content: '';
  opacity: 0;
  background-color: #ffffff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
figure.snip0015 h2,
figure.snip0015 p {
  margin: 0 0 5px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform
              0.35s,-o-transform 0.35s,transform 0.35s;
}
figure.snip0015 h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-transform: translate3d(0%, 50%, 0);
  transform: translate3d(0%, 50%, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  font-size: 1.5em;
}
figure.snip0015 h2 span {
  font-weight: 800;
  font-size: 2em;
}
figure.snip0015 p {
  font-weight: 200	;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  font-size: 1.4em;
}

figure.snip0015 p::before {
    content: '\201C';
}
figure.snip0015 p::after {
    content: '\201D';
}

figure.snip0015 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  color: #ffffff;
}
figure.snip0015:hover img {
  opacity: 0.2;
}
figure.snip0015:hover figcaption h2 {
  opacity: 1;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
figure.snip0015:hover figcaption p {
  opacity: 0.9;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
figure.snip0015:hover figcaption::before {
  background: rgba(255, 255, 255, 0);
  top: 30px;
  bottom: 30px;
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}






/* <!-- /////////////////////////  footer  ////////////////////// footer   ///////////////////////////--> */
/* <!-- ////////////////  footer  ///////////////// footer   ///////////////////////////--> */
.container footer {
    background: #000;
    grid-area: footer;

    display: grid;
    grid-template-columns: 2fr 1fr 1fr;

    box-sizing: border-box;
    grid-template-areas:
        "logo navegacion contacto"
        "footer footer footer";
}


.iconosFooter {
    font-size: 2rem;
}

.logofooter,
.menufooter,
.contactofooter {
    margin-top: 10px;
    margin-bottom: 5px;
}


.subtitulosFo {
    color: #fff;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
    box-sizing: border-box;
    margin: 0;
}

.menuNavF {
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff;

}

.logofooter {
    grid-area: logo;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.imglogofooter {
    width: 250px;
    height: auto;
}



.menufooter {
    grid-area: navegacion;

    box-sizing: border-box;

    display: flex;
    flex-flow: column wrap;

    align-items: center;

    text-align: left;

}

.menufooter ul {
    list-style: none;
    margin: 0;
}

.menufooter ul li a {
    text-decoration: none;
    color: #ececec;
}




.contactofooter {
    grid-area: contacto;

    box-sizing: border-box;

}

.contactofooter ul {
    list-style: none;

    display: flex;

    justify-content: center; /* Centra horizontalmente los elementos */
    align-items: center;
}


.contactofooter ul li {
    margin-right: auto;
    margin-left: auto;
}

.contactofooter ul li a {
    text-decoration: none;
    color: #ececec ;
}


.copyfooter {
    grid-area: footer;
    box-sizing: border-box;
    justify-self: center;
    display: flex;
}

.copyfooter h5 {
    color: #ececec;
    margin: 5px;
}


@media screen and (max-width: 550px) {
    .container footer {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 75px auto;

        grid-template-areas:
            "logo navegacion"
            "contacto contacto"
            "footer footer";
    }

    .iconosFooter {
        font-size: 1.1rem;
    }

    .copyfooter {
        margin-top: 0;
    }

    .listaredesfooter {
        margin-top: 5px;
    }

    .copyfooter h5 {
        margin: 5px;
        font-size: .6rem;
    }

    .imglogofooter {
        width: 180px;
        height: auto;
    }

    .subtitulosFo {
        font-size: .9rem;
    }

}
